/*
 * @author Lufe Pedrosa
 * @gitHub gitBiohazard
 *
 */

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {

    body {
        width: 100vw;
        overflow-x: hidden;
    }
    main .capa {
        overflow: hidden;
    }
    main .capa h1 {
        font-family: "Raleway";
        font-weight: bold;
        font-size: 2em !important;
        color: white;
    }
    
    main .capa h1:nth-child(1) {
        font-size: 2em !important;
    }
    
    main .capa h1:nth-child(2) {
        margin-left: 0 !important;
    }
    
    main .capa h1:nth-child(3) {
        margin-left: 0 !important;
    }

    #redes-sociais, .redes {
        right: 0 !important;
    }

    .mobile-adjust {
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
		
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
		
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
		
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Main */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.circle {
	position: absolute;
    background: rgba(255,255,255,.2);
	width: 60px; 
	height: 60px; 
    border-radius: 50%;
}

html,
body {
    background:  url(../img/bg.png) no-repeat;
    /* background: #000; */
    background-size: cover;
    overflow: hidden;
    width: 100%;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway.woff);
}

@font-face {
    font-family: "Raleway-Italic";
    src: url(../fonts/Raleway-I.woff);
}

/* Main */

main .social h1 {
    font-family: "Raleway";
    font-size: 18px;
    color: white;
}

main .social {
    position: absolute;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow:visible;
    transition: .3s;
}

main .social:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -500px;
    left: -500px;
    right: -500px;
    bottom: -500px;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 50%;
    transition: .3s;
 }

 main .btn-custom {
    position: absolute;
    background: white;
    padding: 5px 15px;
    font-family: "Raleway";
    font-weight: bolder;
    color: black;
    border: none;
    font-size: 24px;
 }

 main .btn-custom:hover {
     background: transparent;
     border: 1px solid rgba(255,255,255,.2);
     color: white;
     font-weight: normal;
 }

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

main .capa {
    height: 100vh;
    display: flex;
    overflow: hidden !important;
}

main .capa h1 {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 84px;
    color: white;
}

main .capa h1:nth-child(1) {
    font-size: 24px !important;
}

main .capa h1:nth-child(2) {
    margin-left: 20px;
}

main .capa h1:nth-child(3) {
    margin-left: 80px;
}

main .about-me {
    position: absolute;
    bottom: -30px;
    right: -50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 4s;
    transition: .3s;
}

main .about-me:hover {
    bottom: -30px;
    right: -50px;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border: 1px solid rgba(255,255,255,1);
    background: white;
    transition: .3s;
    cursor: pointer;
}

main .about-me h1 {
    font-family: "Raleway";
    font-size: 18px;
    color: white;
    transition: .4s;
}

.black-letter {
    color: black;
    font-weight: bold;
}

/* About page */

#about {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: white;
    animation: opacity 1s forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cursor-black {
    background: black !important;
}

.circle-black {
    border: 1px solid rgba(0,0,0,.2) !important;
}

#about {
    overflow-y: scroll;
    overflow-x: hidden;
}

#about::-webkit-scrollbar {
    width: 0 !important;
}


#about .back-home {
    z-index: 5;
    position: fixed;
    bottom: -30px;
    right: -50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 4s;
    transition: .3s;
}

#about .back-home:hover {
    bottom: -30px;
    right: -50px;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border: 1px solid rgba(0,0,0,1);
    background: black;
    transition: .3s;
    cursor: pointer;
}

#about .back-home h1 {
    font-family: "Raleway";
    font-size: 18px;
    color: black;
    font-weight: bold;
    transition: .4s;
}

#about .back-home h1.white-letter {
    color: white;
    font-weight: bold;
}

#about h1 {
    color: black;
    font-family: "Raleway";
    font-size: 100px;
    font-weight: bolder;
}

#about p {
    color: black;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: bolder;
}

#about .my-face {
    transform-style: preserve-3d;
}

#about .my-face .job {
    position: relative;
    bottom: 30px;
    left: 30px;
    background-color: #000;
    display: inline-block;
    padding: 5px 20px;
    transform: translateZ(20px);
    transform-style: preserve-3d;
}

#about .my-face .job h1 {
    font-size: 24px;
    vertical-align:middle;
    color: white;
    transform: translateZ(10px);
}

#about .projects {
    left: 0;
    width: 100%;
    text-align: center;
}

#about .manifesto {
    margin: 0 auto;
    font-size: 13rem;
    white-space: nowrap;
}

#about .project-item {
    background: #000;
    height: 500px;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .project-item img{
    transform: translateZ(20px);
}

#about .cyberpunk:hover {
    background: linear-gradient(to right, #ffc400, #ff9d00);
}

#about .spotify:hover {
    background: linear-gradient(to right, rgb(123, 0, 180), rgb(89, 0, 131));
}

#about .finans:hover {
    background: linear-gradient(to right, #ffae00, #ffd16e);
}

#about a.btn-custom {
    background: white;
    font-family: "Raleway";
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    transform: translateZ(20px);
}

#about a.btn-custom:hover {
    background: #000;
    color: white !important;
}

#about .cyberpunk a.btn-custom {
    color: rgb(246, 250, 0);
}

#about .spotify a.btn-custom {
    color: rgb(123, 0, 180);
}

#about .finans a.btn-custom {
    color: rgb(253, 186, 0);
}

#redes-sociais {
    position: absolute;
    width: 600px;
    height: 300px;
    right: 0;
    top:0;
}

.redes {
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    right: 250px;
    top: 80px;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255,255,255,.2);
    transition:.4s;
}

.redes:hover {
    width: 120px;
    height: 120px;
    background: white;
    cursor: pointer;
}

.redes h1 {
    font-family: "Raleway";
    font-size: 18px;
    color: white;
}

.black-letter {
    color: black !important;
    font-weight: bolder;
}

.rede-1 {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgba(255,255,255,.2);
    top: 40px;
    left: 160px;
    justify-content: center;
    align-items: center;
}

.rede-1:hover, .rede-2:hover, .rede-3:hover {
    background: white;
    color: black !important;
    width: 80px;
    height: 80px;
}

.rede-2 {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgba(255,255,255,.2);
    top: 120px;
    left: 120px;
    justify-content: center;
    align-items: center;
}

.rede-3 {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid rgba(255,255,255,.2);
    top: 200px;
    left: 190px;
    justify-content: center;
    align-items: center;
}

.rede-1, .rede-2, .rede-3 {
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 100;
    color: white;
    animation: opacity 1s;
    transition: .4s;
}

.sub {
    background-color: black;
    color: white;
}

.font-size-18px {
    font-size: 18px !important;
}

#contact {
    height: 100vh;
}

.contact-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: 1px solid rgba(0,0,0,.4);
    padding: 5px 20px;
    color: black;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: bold;
    transition: .4s;
    transform-style: preserve-3d;
}

.contact-btn:hover {
    color: white;
    background-color: #000;
}

.contact-btn span {
    transform: translateZ(40px);
}