/*
 * @author Lufe Pedrosa
 * @gitHub gitBiohazard
 *
 */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
		h1 {
			font-size: 3em !important;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
		h1 {
			font-size: 4em !important;
		}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
		h1 {
			font-size: 5em !important;
		}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h1 {
		font-size: 6em !important;
	}
}

html {
	margin: 0 auto;
	max-width: 1600px;
	max-height: 900px;
}

body {

	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: black;
	background: url('../img/bg.jpg') no-repeat,
				url('../img/bg0.jpg');
	background-size: 100%;
}

.container {
	background: none;
}

 .mainText {
 	color: white;
 	text-align: center;
 }

.btn-custom {
	color: white !important;
	border-radius: 500px !important;
	-webkit-border-radius: 500px !important;
	-moz-border-radius: 500px !important;
	-o-border-radius: 500px !important;
	text-transform: uppercase !important;
	transition: background 0.4s, color 0.4s !important;
	padding: 10px 20px !important;
}

.btn-vermelho {
	background: #ff1a1a !important;
}

.btn-vermelho:hover {
	background: #e60000 !important;
	color:white;
}

.btn-branco {
	border: 2px solid white !important;
}

.btn-branco:hover {
	background: white;
	color: black !important;
}

.capa {
	text-align:center
}