/*
 * @author Lufe Pedrosa
 * @gitHub gitBiohazard
 *
 */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1599.98px) {
    #capa .back {
        bottom: -100px;
    }
    
    #capa .front {
        bottom: -120px;
    }
}

/* Full HD devices */
@media (min-width: 1600px) and (max-width: 1919.98px) {
    #capa .back {
        bottom: -180px !important;
    }
    
    #capa .front {
        bottom: -200px !important;
    }

    #capa .child {
        bottom: 12vh !important;
    }
    
    #capa .dog {
        bottom: 12vh !important;
    }

    #capa .tree {
        bottom: 8vh !important;
    }

    /* Section 2 */

    #content .grass {
        bottom: -370px !important;
    }
    
    #content .cat {
        width: 400px !important;
        bottom: -120px !important;
    }

    /* Section 3 */

    #mystart .grass {
        bottom: -100px !important;
    }
    
    #mystart .hand {
        width: 400px !important;
        bottom: 280px !important;
        left: 150px !important;
    }

    /* Nowadays */

    #nowadays .man {
        top: 220px !important;
    }

    /* Contact */

    #contact .grass {
        bottom: -300px !important;
    }
    
    #contact .tree {
        bottom: 30px !important;
    }
}

/* Can be bug */
@media (min-width: 1920px) {
    #capa .back {
        bottom: -180px !important;
    }
    
    #capa .front {
        bottom: -200px !important;
    }
    #capa .mouse {
        bottom: 100px !important;
    }

    /* Section 2 */

    #content .grass {
        bottom: -400px !important;
    }
    
    #content .cat {
        width: 500px !important;
        bottom: -100px;
    }

    /* Section 3 */

    #mystart .grass {
        bottom: -380px;
    }
    
    #mystart .hand {
        width: 500px !important;
        bottom: 280px !important;
        left: 190px !important;
    }

    /* Nowadays */

    #nowadays .man {
        top: 250px !important;
    }

    /* Contact */

    #contact h1 {
        font-size: 160px !important;
    }

    #contact p {
        font-size: 60px !important;
    }

    #contact a {
        font-size: 60px !important;
    }

    #contact .grass {
        bottom: -300px !important;
    }
    
    #contact .tree {
        bottom: 60px !important;
    }
}

/* Universal */

@font-face {
    font-family: lora;
    src: url(../fonts/Lora.woff);
}

@font-face {
    font-family: lemon;
    src: url(../fonts/Lemon.woff);
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* NoScript */

noscript {
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1030;
}

noscript h1 {
    font-size: 84px;
    font-family: Raleway;
    font-weight: 300;
    color: white;
    text-align: center;
}

/* Capa */

#capa {
    background: url(../img/bg.png);
    background-size: cover;
    background-position-y: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#capa .fullscreen-bg__video {
        position: absolute; 
        top: 0;
        left: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: 1;
}

#capa .back {
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;
    z-index: 1;
}

#capa .front {
    position: absolute;
    width: 100%;
    bottom: -120px;
    left: 0;
    z-index: 3;
}

#capa .child {
    position: absolute;
    bottom: 18vh;
    left: 90px;
    width: 80px;
    z-index: 5;
}

#capa .dog {
    position: absolute;
    bottom: 18vh;
    left: 250px;
    width: 80px;
    z-index: 5;
}

#capa .house {
    position: absolute;
    bottom: 0;
    right: -320px;
    width: 550px;
    z-index: 5;
}

#capa .tree {
    position: absolute;
    bottom: 10vh;
    right: 200px;
    width: 250px;
    z-index: 1;
}

#capa h1 {
    position: relative;
    top: -100px;
    font-size: 84px;
    font-family: lemon;
    font-weight: 300;
    color: white;
    z-index: 2;
}

#capa h1 span:nth-child(1) {
    font-size: 24px;
}

#capa h1 span:nth-child(2) {
    margin-left: 20px;
}

#capa h1 span:last-child {
    margin-left: 60px;
}

#capa .mouse {
    position: absolute;
    left: calc(50% - 10px);
    bottom: 70px;
    width: 25px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 6;
    cursor: pointer;
}

#capa .mouse span {
    white-space: nowrap;
    color: white;
    font-family: lemon;
    font-size: 24px;
    position: relative;
    left: 50px;
}

#capa .scroll {
    position: absolute;
    left: calc(50% - 2.5px);
    top: 8px;
    width: 5px;
    height: 8px;
    border-radius: 20px;
    border: 2px solid white;
    z-index: 6;
    cursor: pointer;
}

#capa .mouse:hover::before {
    content: '';
    width: 18px;
    height: 2px;
    display: block;
    position: absolute;
    left: 27px;
    top: 18px;
    transform: rotate(-5deg);
    background: white;

}


/* Content */

#content {
    height: 100vh;
    background: black;
    padding: 0 50px;
    overflow: hidden;
}

#content h1 {
    font-size: 106px;
    font-family: lemon;
    color: white;
}

#content .grass {
    position: absolute;
    width: 100%;
    bottom: -270px;
    left: 0;
}

#content .cat {
    position: absolute;
    width: 250px;
    bottom: -50px;
    right: 0;
}

/* My Start */

#mystart {
    height: 100vh;
    background: white;
    padding: 0 50px;
    overflow: hidden;
    position: relative;
}

#mystart h1 {
    font-size: 94px;
    font-family: lemon;
    color: black;
    text-align: end;
}

#mystart .grass {
    position: absolute;
    width: 100%;
    bottom: -150px;
    left: 0;
}

#mystart .hand {
    position: absolute;
    width: 300px;
    bottom: 200px;
    left: 50px;
}

/* Nowadays */

#nowadays {
    background: black;
    padding: 0 50px;
    overflow: hidden;
    height: 100vh;
}

#nowadays p {
    margin-top: 30px;
    font-size: 24px;
    font-family: lemon;
    color: white;
    text-align: start;
}

#nowadays .grass {
    position: absolute;
    width: 100%;
    bottom: -350px;
    left: 0;
}

#nowadays .man {
    position: absolute;
    top: 200px;
}

/* Projects */

#projects {
    background: white;
    padding: 0 50px;
    overflow: hidden;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#projects h1 {
    font-size: 94px;
    font-family: lemon;
    color: black;
    text-align: center;
}

#projects .row {
    height: 100%;
    position: relative;
}

#projects .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .project {
    height: 400px;
    width: 300px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#projects .cyberpunk,
#projects .spotify,
#projects .finans {
    margin-right: 20px;
    background: linear-gradient(45deg, #dbdbdb, #929292);
    transition: 1s;
} 

#projects .cyberpunk:hover {
    background: linear-gradient(45deg, #e2b900, #ffae00);
}

#projects .spotify:hover {
    background: linear-gradient(45deg, #780096, #c300ff);
}

#projects .finans:hover {
    background: linear-gradient(45deg, #00c77b, #00c451);
}

#projects a {
    background: black;
    color: white;
    font-family: lemon;
    font-size: 16px;
    padding: 5px 20px;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
}

#projects a:hover {
    background: white;
    color: black;
}

#projects .project span {
    position: absolute;
    bottom: -40px;
    left: 0;
    transform: rotate(-10deg);
    font-family: lemon;
}

#projects .petHover {
    text-decoration: line-through;
    position: relative;
}

#projects .petHover::after {
    content: 'pet photos';
    position: absolute;
    bottom: -15px;
    right: -15px;
    font-size: 24px;
    white-space: nowrap;
    transform: rotate(-20deg);
}

#projects .ground {
    position: absolute;
    width: 100%;
    bottom: -180px;
    left: 0;
}

/* Contact */

#contact {
    background: black;
    padding: 0 50px;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#contact h1 {
    font-size: 94px;
    font-family: lemon;
    color: white;
    text-align: start;
}

#contact p {
    font-size: 36px;
    font-family: lemon;
    color: white;
    text-align: start;
}

#contact a {
    background: black;
    color: white;
    font-family: lemon;
    font-size: 36px;
    padding: 5px 20px;
    text-decoration: underline;
}

#contact a:hover {
    background: white;
    color: black;
}

#contact .grass {
    position: absolute;
    bottom: -250px;
    left: 0;
    width: 100%;
}

#contact .tree {
    position: absolute;
    bottom: 20px;
    right: 60px;
}

/* Mobile Section 1 */

#section1 {
    min-height: 812px;
    height: 100vh;
    background: url(../img/bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden !important;
}

#section1 h1 {
    margin-top: -60px;
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: lemon;
}

#section1 h1 span {
    font-size: 24px;
}

#section1 .back {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

#section1 .front {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
}

#section1 .child {
    position: absolute;
    width: 60px;
    left: 20px;
    bottom: 50px;
}

#section1 .dog {
    position: absolute;
    width: 60px;
    left: 100px;
    bottom: 50px;
}

#section1 .tree {
    position: absolute;
    width: 200px;
    right: 50px;
    bottom: 50px;
}

#section1 .house {
    position: absolute;
    width: 400px;
    right: -300px;
    bottom: 0   ;
}

/* Mobile Section 2 */

#section2 {
    margin-top: -2px;
    min-height: 812px;
    height: 100vh;
    background: #000;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden !important;
}

#section2 h1 {
    margin-top: -60px;
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: lemon;
}

#section2 .grass {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

#section2 .cat {
    position: absolute;
    width: 80px;
    right: 10px;
    bottom: 20px;
}

/* Mobile Section 3 */

#section3 {
    margin-top: -2px;
    min-height: 812px;
    height: 100vh;
    background: #fff;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden !important;
}

#section3 h1 {
    margin-top: -60px;
    font-size: 60px;
    color: #000;
    text-align: center;
    font-family: lemon;
}

#section3 .grass {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

#section3 .hand {
    position: absolute;
    width: 70px;
    left: 30px;
    bottom: 50px;
}

/* Mobile Section 4 */

#section4 {
    padding: 0 20px;
    min-height: 812px;
    height: 100vh;
    margin-top: -2px;
    background: #000;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    overflow: hidden !important;
}

#section4 h1 {
    margin-top: 60px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: lemon;
}

#section4 .man {
    position: absolute;
    width: 100px;
    right: 30px;
    bottom: 20px;
}

#section4 .grass {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

/* Mobile Section 5 */

#section5 {
    padding: 0 20px;
    min-height: 812px;
    height: 100vh;
    margin-top: -2px;
    background: #fff;
    background-size: cover;
    align-items: start;
    justify-content: center;
    position: relative;
    overflow: hidden !important;
}

#section5 h1 {
    margin-top: 30px;
    font-size: 60px;
    color: #000;
    text-align: center;
    font-family: lemon;
}

#section5 .project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: linear-gradient(45deg, #a5a5a5, #636363);
    overflow: hidden;
}

#section5 .cyberpunk,
#section5 .spotify,
#section5 .finans {
    margin-bottom: 20px;
    background: linear-gradient(45deg, #dbdbdb, #929292);
    transition: 1s;
} 

#section5 .cyberpunk:hover {
    background: linear-gradient(45deg, #e2b900, #ffae00);
}

#section5 .spotify:hover {
    background: linear-gradient(45deg, #780096, #c300ff);
}

#section5 .finans:hover {
    background: linear-gradient(45deg, #00c77b, #00c451);
}

#section5 .grass {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

/* Mobile Section 6 */

#section6 {
    padding: 0 20px;
    min-height: 812px;
    height: 100vh;
    margin-top: -2px;
    background: #000;
    background-size: cover;
    align-items: start;
    justify-content: center;
    position: relative;
    overflow: hidden !important;
}

#section6 h1 {
    margin-top: 30px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-family: lemon;
}

#section6 p {
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-family: lemon; 
}

#section6 a {
    background: black;
    color: white;
    font-family: lemon;
    font-size: 24px;
    padding: 5px 20px;
    text-decoration: underline;
    text-align: center;
}

#section6 a:hover {
    background: white;
    color: black;
}

#section6 .grass {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
}

#section6 .tree {
    position: absolute;
    width: 300px;
    bottom: 20px;
    right: 20px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
		
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	#section1 .back {
        bottom: -100px;
    }
    #section1 .front {
        bottom: -115px;
    }

    #section2 .grass {
        bottom: -150px;
    }

    #section2 .cat {
        width: 200px;
        bottom: -20px;
    }

    #section3 .grass {
        bottom: -150px;
    }

    #section3 .hand {
        bottom: 150px;
        width: 200px;
    }

    #section4 h1 {
        font-size: 36px;
    }

    #section4 .man {
        width: 150px;
    }

    #section6 .tree {
        bottom: 80px;
    }

    #section6 h1 {
        font-size: 100px;
    }

    #section6 p {
        font-size: 36px;
    }

    #section6 a {
        font-size: 36px;
    }

    #section4 .grass {
        bottom: -100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #section1 .back {
        bottom: -140px;
    }
    #section1 .front {
        bottom: -160px;
    }

    #section1 h1 {
        font-size: 106px;
    }

    #section1 h1 span {
        font-size: 48px;
    }

    #section2 .grass {
        bottom: -150px;
    }

    #section2 .cat {
        width: 400px;
        bottom: -20px;
    }

    #section3 .grass {
        bottom: -80px;
    }

    #section3 .hand {
        bottom: 180px;
        width: 200px;
    }

    #section4 h1 {
        font-size: 48px;
    }

    #section4 .man {
        width: 250px;
    }

    #section5 .cyberpunk {
        margin-right: 20px;
    }

    #section5 .torresmo {
        margin-top: -20px;
        margin-left: 20px;
    }

    #section5 .padBreaking {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #section5 .project {
        width: 400px;
        height: 500px;
        overflow: hidden;
    }

    #section6 .tree {
        bottom: 150px;
    }

    #section6 h1 {
        margin-top: 150px !important;
        font-size: 100px;
    }

    #section6 p {
        font-size: 36px;
    }

    #section6 a {
        font-size: 36px;
    }

    #section4 .grass {
        bottom: -100px;
    }
}

.loading {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1031;
    top: 0;
    left: 0;
}

.loading h1 {
    font-weight: 3em;
    color: white;
    font-family: lemon;
    text-align: center;
    margin-top: 20px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 60px;
    top: -20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }