/*
 * @author Lufe Pedrosa
 * @gitHub gitBiohazard
 *
 */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
		h1 {
			font-size: 2.5em !important;
		}


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
		h1 {
			font-size: 3em !important;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
		h1 {
			font-size: 4em !important;
		}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
		h1 {
			font-size: 5em !important;
		}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
		h1 {
			font-size: 6em !important;
		}
}

@keyframes changeBackgroundColor {
  from {
  	background: url('../img/bg0.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: black;
  }

  to {
    background: url('../img/bg3.jpg') no-repeat;
    background-size: 100%;
	background-color: black;
  }
}

html {
	max-width: 1366px;
	max-height: 768px;
	margin: 0 auto;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	animation: changeBackgroundColor 1.5s; /* propriedade de animação */
}

.btn-custom {
	color: black !important;
	border-radius: 500px !important;
	-webkit-border-radius: 500px !important;
	-moz-border-radius: 500px !important;
	-o-border-radius: 500px !important;
	text-transform: uppercase !important;
	transition: background 0.4s, color 0.4s !important;
	padding: 10px 20px !important;
}

.btn-custom-2 {
	color: white !important;
	border-radius: 500px !important;
	-webkit-border-radius: 500px !important;
	-moz-border-radius: 500px !important;
	-o-border-radius: 500px !important;
	text-transform: uppercase !important;
	transition: background 0.4s, color 0.4s !important;
	padding: 10px 20px !important;
}

.btn-verde {
	background: #1aff1a !important;
}

.btn-verde:hover {
	background: #009900 !important;
	color:white;
}

.btn-whats {
	background: #1aff1a !important;
}

.btn-whats:hover {
	background: #009900 !important;
	color:white;
}

.btn-branco {
	margin-left: 3%;
	border: 2px solid white !important;
}

.btn-branco:hover {
	background: white;
	color: black !important;
}

.btn-preto {
	margin-left: 3%;
	border: 2px solid black !important;
}

.btn-preto:hover {
	background: black;
	color: white !important;
}

.ml-x {
	margin-left: 93% !important;
}

.ml-y {
	margin-left: 80% !important;
}


/******************* NAV-BAR *******************/

nav.navbar-transparente {
	background: rgba(0,0,0,0.5)
}

.nav-link-white {
	color: white !important;
}
.nav-link-white:hover {
	color: #9bf0e1 !important;
}

.navbar-toggler-formated {
	color: rgba(0,0,0,0.5) !important;
	border-color: rgba(0,0,0,0.1) !important;
}

.logo {
	font-size: 0.5em;

}

/******************* SECTION 1 *******************/

p {
	color: white;
}

#nome {
	color: white;
	font-weight: bold;
	line-height: 1em;
}

/******************* SECTION 2 *******************/

#sobre {
	margin-top: 200px;
	background-color: black;
}

h2 {
	color: white;
}

.imgFormat {
	border-radius: 0 5px 0 5px;
	width: 250px;
}

.imgFormat:hover {
	border-radius: 0 5px 0 5px;
}

.smImgFormat {
	border-radius: 0 5px 0 5px;
	width: 200px;
}