/* limpar formatações padrões */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

h1 {
	background-color: #DCDCDC;
	padding: 5px;
	font-size: 20px;
	color: #4e4e4e;
}

h2 {
	color: #f7b600;
}

h3 {
	padding: 2.5px;
	font-size: 0.75em;
}

h4	{
	padding: 2.5px;
	font-size: 0.75em;
	color: #f7b600;
}

a {
	text-decoration: none;
}

#area-menu a {
	text-decoration: none;
	padding: 10px;
}

#area-menu a:link, #area-menu a:visited {
	color: white;
}

#area-menu a:hover {
	background-color: white;
	color: #f7b600;
}

.postagens-recentes a:link, .postagens-recentes a:visited {
	color: #f7b600;
}

.postagens-recentes a:hover {
	text-decoration: underline;
	color: #f7b600;
}

.acesso-rapido a:link, .acesso-rapido a:visited {
	color: #f7b600;
}

.acesso-rapido a:hover {
	text-decoration: underline;
	color: #f7b600;
}



/* LAYOUT */

#area-cabecalho {
	width: 100%;
	background-color: #f7b600;
	padding: 5px;
	text-align: center;
	position: fixed;
	z-index: 100;
}

#area-logo {
	padding: 5px;
	font-size: 2.5em;
	font-weight: bold;
	color: #4e4e4e;

}

#logo-blog {
	color: white;
}

#area-menu {
	width: 100%;
	padding: 10px;
}

#rodape {
	margin-top: 20px;
	margin-left: 200px;
	margin-bottom: 20px;
	background-color: #DCDCDC;
	padding: 15px;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	width: 650px;
}

.principal {
	background-color: white;
	margin-top: 100px;
	margin-left: 200px;
	padding: 20px;
	width: 640px;
}

.seguinte {
	background-color: white;
	margin-left: 200px;
	padding: 20px;
	width: 640px;
}

.postagens-recentes {
	background-color: white;
	position: absolute;
	margin-left: 900px;
	padding: 20px;
	width:  230px;
	float: left;
}

.acesso-rapido {
	background-color: white;
	position: absolute;
	margin-top: 200px;
	margin-left: 900px;
	padding: 20px;
	width:  230px;
	float: left;
}

