/*
 * @author Lufe Pedrosa
 * @gitHub gitBiohazard
 *
 */

/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {

  html, body {
    font-size: calc(100vw / 1920 * 30) !important;
  }

  .nav__menu {
    display: none;
  }
}


/* Universal */

html, body {
  font-size: calc(100vw / 1920 * 10);
  overflow: hidden;
  padding: 0%;
  margin: 0%;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.scroll {
  z-index: 2;
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
  position: absolute;
  top: 90vh;
  left: 50%;
}

.scroll:hover {
  color: gray;
}

/* RGB Kinetci Slider */

.rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.rgbKineticSlider canvas {
  position: absolute;
  display: block;
  top: 0 !important;
  left: 0 !important;
  transform: scale(1) !important;
}

/* Navbar */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 2rem 5rem;
  background: rgba(0, 0, 0, .4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4);
  -webkit-backdrop-filter: blur(4);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.nav__link {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.nav__menu__link {
  color: white;
  text-decoration: none;
  font-family: 'Poppins';
  padding: 0 1rem;
  font-size: 1.6rem;
}

.nav__menu__link:hover {
  color: gray;
}

.nav__customer__link {
  font-weight: 100;
  color: #2776dd;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.8rem;
}

.nav__customer__link:hover {
  color: #004fb7;
}