/* DEVELOPED BY: 
	@gitBiohazard
   	@author Luiz Felipe Pedrosa Cavalcante
   	IF U LIKE TO CONTACT ME luizfelipecav@outlook.com

   	 */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
		h1 {
			font-size: 3em !important;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
		h1 {
			font-size: 4em !important;
		}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
		h1 {
			font-size: 5em !important;
		}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h1 {
		font-size: 6em !important;
	}
}

@font-face {
	font-family: CyberBit;
	src: url("../fonts/CyberBit.woff");
}

html {
	margin: 0 auto;
	scroll-behavior: smooth;
}

body {

	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: black;
	background: url('../img/capa.gif') no-repeat,
				url('../img/bgblack.png');
	background-size: 100%;
}

.container {
	background: none;
}

.center {
	text-align: center;
}

.title {
	font-family: CyberBit;
	font-size: 3em !important;
	color: yellow;
}

/********** HOME ************/


#home {
	height: 100vh;
}

#home p {
	color: white;
	font-family: CyberBit;
	font-size: 1.6em;

}

.btn-play-this-fucking-game-now {
	background: #ff013d !important;
	font-family: CyberBit;
	font-weight: bold;
	color: white !important;
	border: 1px solid white;
	border-radius: 0px !important;
}

.btn-play-this-fucking-game-now:hover {
	background: #fff !important;
	color: black !important;
}

.btn-try-to-hack-this-shit {
	background: white !important;
	font-family: CyberBit;
	font-weight: bold;
	color: black !important;
	border: 1px solid white;
	border-radius: 0px !important;
}

.btn-try-to-hack-this-shit:hover {
	background: black !important;
	color: white !important;
}

/********** F@KE ************/

#fake-message {
	background: black;
	padding: 40px;
}

#fake-message h1 {
	padding: 5px;
	font-family: CyberBit;
	font-size: 2em !important;
	line-height: 1.2em;
	color: #03d7f2;
}

#fake-message h2 {
	padding: 5px;
	font-family: CyberBit;
	font-size: 1.3em !important;
	line-height: 1px;
	color: #03d7f2;
}


/********** ABOUT ***********/

#about {
	background: yellow;
	padding: 20px
}

#about h1 {
	padding: 5px;
	font-family: CyberBit;
	font-size: 3em !important;
	color: black;
}

#about p {
	padding: 5px;
	font-family: CyberBit;
	font-size: 1em !important;
	color: black;
}

/********** CARDS ***********/

#cards {
	background: black;
	padding-bottom: 50px;
}


/******* FOOTER ********/

#footer {
	background: black;
	padding: 0px !important;
	margin: 0px !important;
}

.footer-again {
	padding: 20px;
	color: black;
	font-family: CyberBit;
    background: url(../img/footer.gif) no-repeat;
	background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.footer-again::after,
.footer-again::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    background-color: #000;
}

.footer-again::after {
	left: -25px;
    transform: rotate(-45deg);
}

.footer-again::before {
	right: -25px;
    transform: rotate(45deg);
}

.footer-again p {
	font-family: CyberBit;
	font-size: 1em;
	color: white !important;
}

.footer-again a {
	color: black;
}

.footer-again a:hover {
	color: yellow;
}


.btn-footer-please-kill-me {
	background: #ff013d !important;
	font-family: CyberBit;
	font-weight: bold;
	color: white !important;
	border: 1px solid white;
	border-radius: 0px !important;
}

.btn-footer-please-kill-me:hover {
	background: #fff !important;
	color: black !important;
}

/* CYBERCARD1 */

.cybercard {
	color: yellow;
	font-family: CyberBit;
	width: 100%;
	height: 100%;
	border: 1px solid yellow;
	text-align: start;
}

.cybercard:hover {
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid black;
	color: black;
}

.cybercard h1 {

	font-size: 2em !important;
	text-align: end;
}

/* CYBERCARD2 */

.cybercard2 {
	color: white;
	font-family: CyberBit;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	text-align: start;
}

.cybercard2:hover {
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid black;
	color: black;
}

.cybercard2 h1 {

	font-size: 2em !important;
	text-align: end;
}

/* CYBERCARD3 */

.cybercard3 {
	color: black;
	font-family: CyberBit;
    background-color: #03d7f2;
    width: 100%;
    height: 100%;
    position: relative;
}
.cybercard3::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    background-color: #000;
    left: -25px;
    transform: rotate(-45deg);
}

.cybercard3:hover {
	color: black;
	font-family: CyberBit;
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
}

.cybercard3 a {
	color: white;
}

.cybercard3:hover a {
	color: #03d7f2;
}

.cybercard3 h1 {

	font-size: 2em !important;
	text-align: end;
}

/****** PWN3D ******/

#pwn3d {
	background: url(../img/pwn3d.gif) ;
	background-size: cover;
}