/*
* 
* @author Lufe Pedrosa
*/

body {
	background: url(../imagens/capa.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	overflow-x: hidden;
}


nav.navbar-transparente {
	background: rgba(0,0,0,0.6)
}

.nav-link-white {
	color: white !important;
}
.nav-link-white:hover {
	color: #9bf0e1 !important;
}

.navbar-toggler-formated {
	color: rgba(0,0,0,0.5) !important;
	border-color: rgba(0,0,0,0.1) !important;
}

html, body, #home {
	height: 100%;
}

.capa {
	text-align: center;
}

h1 {
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: 900 !important;
	letter-spacing: -0.05em;
	margin-bottom: 50px !important;
	color: white;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
		h1 {
			font-size: 3em !important;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
		h1 {
			font-size: 4em !important;
		}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
		h1 {
			font-size: 5em !important;
		}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h1 {
		font-size: 6em !important;
	}
}

.btn-custom {
	color: white !important;
	border-radius: 500px !important;
	-webkit-border-radius: 500px !important;
	-moz-border-radius: 500px !important;
	-o-border-radius: 500px !important;
	text-transform: uppercase !important;
	transition: background 0.4s, color 0.4s !important;
	padding: 10px 20px !important;
}

.btn-roxo {
	background: #7c25f8 !important;
}

.btn-roxo:hover {
	background: #6207e3 !important;
	color:white;
}

.btn-branco {
	border: 2px solid white !important;
}

.btn-branco:hover {
	background: white;
	color: black !important;
}

.carousel-control-next, .carousel-control-prev {
	width: 5px !important;
}

/************************************************************/

#servicos {
	background-color: white;
	padding: 20px;
}

h2 {
	font-size: 3em !important;
	font-weight: 700 !important;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em !important;
	font-weight: 700 !important;
	letter-spacing: -0.04em;
}

#servicos h3, #servicos h2 {
	color: #7c25f8;
}

#recursos {
	padding: 20px;
}

#recursos h3 {
	color: #9df0e1;

}

#recursos h2 {
	color: white;
}

#recursos p {
	color: white;
}

.rotacionar {
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	padding-left: 80px;
}

/**********************************************************************************/

footer {
	background: black;
	padding: 50px 0 20px 0;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	font-size: 0.8em;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}