* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../images/fundo.png) repeat-x;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#container {
	width: 750px;
	margin: 0 auto;
}

#topo {
	height: 150px;
	padding-top: 25px;
	background: url(../images/detalhe-topo.png) no-repeat right top;
	/* border:1px solid red; */

}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: white;
	background: url(../images/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
	color: white;
	background: #de003e;
	cursor: not-allowed;
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../images/logo.png) no-repeat center;
}

/**************************************************************************************
LAYOUT*/

#conteudo {
	float: right;
	margin-top: 60px;
}

#primario {
	width: 270px;
	margin-right: 15px;
	float: left;
}

#secundario {
	width: 270px;
	float: left;
}

#duplo {
	width: 555px;
	margin-right: 15px;
	float: left;
}

#unico {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

#ultimo-unico {
	margin-top: none;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

#lateral {
	width: 180px;
	margin-top: 60px;
	float: right;
	margin-right: 15px;
}

/**************************************************************************************
RODAPE*/

#container-rodape {
	margin-top: 40px;
	background: #294c71;
	padding: 20px;
}

#rodape {
	color: white;
	width: 750px;
	margin: 0 auto;
}

/***************************************************************************************
CAIXA*/

.caixa {
	margin: 10px 0;
	padding: 8px;
	background: #f3f3f3 url(../images/fundo-caixa.png);
}

.caixa h2 {
	background: #294c71;
	padding: 5px;
	color: white;
}

.caixa-conteudo {
	background-color: white;
	padding: 10px;
	margin-top: 8px;
}

.caixa-conteudo img {
	margin-top: 10px;
	max-width: 225px;
	border: 3px outset #de003e;
}

.caixa-conteudo h3 {
	color: #de003e;
}

.caixa-conteudo a {
	text-decoration: none;
	font-size: 1em;
	color: #de003e;
}

.caixa-conteudo a:hover {
	text-decoration: underline;
}

/******************************************************************************************
MENU LATERAL*/

#lateral ul a {
	color: black;
	padding: 3px;
	display: block;
	font-size: 0.9em;
	line-height: 30px;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
	color: gray;
	background: url(../images/marcador.png) no-repeat left center;
	padding-left: 20px;
}

#lateral ul a#ultimo {
	border-bottom: none;
}

#lateral label {
	margin-left: 50px;
}

#lateral input {
	margin-top: 5px;
	margin-left: 5%;
	width: 88%;
	height: 20px;
}

#lateral input[type="submit"] {
	color: white;
	display: block;
	height: 25px;
	border: none;
	background: #b10333;
	text-align: center;
	margin-top: 10px;
	margin-left: 38px;
	margin-bottom: 5px;
	width: 50%;
}

#lateral input[type="submit"]:hover {
	background: #de003e;
}

/*****************************************************************************
LISTA NOTÍCIAS*/

#lista-noticias li {
	color: #de003e;
	padding: 2px;
	font-size: 0.9em;
	height: 65px;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;

}

#lista-noticias li a img {
	float: left;
	margin: 5px;
	max-width: 80px;
	max-height: 40px;
}

#lista-noticias li a p {
	color: black;
	font-size: 0.75em;

}

#lista-noticias li.ultimo {
	border-bottom: none;
}

/***********************************************************************
FORMATAÇÕES DE IMAGENS*/

#duplo img {
	max-width: 500px;
	margin-left: 5px;
}

#duplo h4 {
	font-size: 0.7em;
	margin-bottom: 10px;
}

#unico img {
	max-width: 98%;
	margin-left: 5px;
}

#unico h4 {
	font-size: 0.7em;
	margin-bottom: 10px;
}
